body {
    font-family: sans-serif;
}

.ferd {
    padding: 15px;
    margin: 10px;
    background-color: rgb(157, 0, 255);
    border-radius: 25px;
    color: black;
    border: 4px solid black; 
    text-align: center;
    text-decoration: underline #000000;
}

footer{
    background-color: blue;
    padding: 10px;
}

footer p {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

nav{
background-color: #5e9c31;
padding: 10px;
}

nav a{
margin :20px ;
font-size: 18px ;
text-decoration: none;
color: white;
}

select {
    background-color: #5e9c31;
    padding: 10px;
    margin :10px ;
    color: white;
    font-size: 15px;
}

.prdc {
    background-color: #5e9c31;
}
